*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: 35px;
	text-align: center;
}

.title {
	margin: 0px 0px 5px 0px;
	position: relative;
	float: right;
	padding: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;

}

.title__1 {
	background-color: red;
	border: 3px solid black;
	border-top: 0px;
	border-right: 0px;
	color: white;
}

.title__2 {
	background-color: skyblue;
	border: 3px solid black;
	border-top: 0px;
	border-right: 0px;
}

.title__3 {
	background-color: goldenrod;
	border: 3px solid black;
	border-top: 0px;
	border-right: 0px;
}

.paragraph {
	padding-left: 12px;
	clear: right;
}

.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		background-color: grey;
		border: 5px solid black;
		width: 25%;
		margin-left: 80px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
		background-color: grey;
		border: 5px solid black;
	}

	.col-md-6 {
		width: 47%;
		margin: 10px;
	}

	.col-md-12 {
		width: 96.33%;
		margin: 10px;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float: left;
		background-color: grey;
		border: 5px solid black;
		width: 98%;
		margin: 3px;
	}
}